body {
    background-color: pink
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto; 
  }

img {
    max-width: 200px;
}

#cookie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}